<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>River Flow Analysis</title>
    <link rel="stylesheet" href="{% static 'css/riverflow.css' %}">
</head>

<body>
    <header>
        <h1>RIVER FLOW ANALYSIS</h1>
    </header>

    <main>
        <section class="container">
            <p>River flow analysis was conducted to identify the main channel and its longest path. Unfortunately, during periods of low flow, these sub-routes become dry, enticing people to build settlements in these seemingly safe areas. However, during heavy rainfall, these very areas become floodplains due to the returning water flow, transforming them into disaster zones. This analysis pinpointed these high-risk zones, allowing them to be marked on the output map to raise awareness about potential flooding.</p>
            <div class="btn-container">
                <a href="https://colab.research.google.com/drive/1s4-rGVdVTGzJceo1sRkF_ebYwc9TGuch#scrollTo=0tFE8ZYYoyKP" class="btn">Analyze</a>
            </div>
        </section>
    </main>
</body>

</html>
